* {
    color: #A83820;
}
body {
    background-image: url("kepek/egyiptomihatter.jpg");
    padding-left: 20vw;
    padding-right: 20vw;
}

#img1 {
    float: right;
    margin-right: 0px;
}

#img2 {
    float: left;
    margin-left: 0px;
}

img {
    margin: 10px;
    margin-top: 3px;
    border-style: dashed;
    border-color: #A83820;
}

#tkeret {
    padding-top: 50px;
    margin-top: 15px;
    text-align: center;
    background-color:#DCBC69;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    background-color: #DCBC69;
    margin-top: 6px;
    margin-bottom: 5px;
}

p {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px;
    text-align: justify;
}

.csik {
    background-color: #A83820;
    padding: 0.1px;
    margin: auto;
}